sphinx
sphinx-rtd-theme
nbsphinx
nbsphinx-link
docutils==0.21.2
ipython
asdf
astropy
crds
drizzle
drizzlepac @ git+https://github.com/spacetelescope/drizzlepac.git
gwcs
jsonschema
matplotlib
numpy
photutils
psutil
pyyaml
roman-datamodels==0.22.0
scipy
spherical-geometry
stdatamodels==2.2.0 
tweakwcs
webbpsf
stpsf
