sphinx
sphinx-rtd-theme
asdf
astropy
crds
drizzle
drizzlepac @ git+https://github.com/spacetelescope/drizzlepac.git
gwcs
jsonschema
matplotlib
numpy
photutils
psutil
pyyaml
roman-datamodels
scipy
spherical-geometry
stdatamodels
tweakwcs
webbpsf